<div class="btns-home__card w-100">
  <div class="card bg-dark w-75 mx-auto">
    <div class="row">
      <div class="col-lg-4 p-4">
        <div class="btns-home__btn-card green card">
          <div class="btns-home__btn w-100 p-2">
            <app-custom-btn-ui
              text="Vai alla lista regioni"
              [haveArrowIcon]="true"
              [haveImage]="false"
              [positionRelative]="true"
              [height50]="true"
              [isInFront]="true"
            >
            </app-custom-btn-ui>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-4">
        <div class="btns-home__btn-card white card">
          <div class="btns-home__btn w-100 p-2">
            <app-custom-btn-ui
              text="Vai alla lista regioni"
              [haveArrowIcon]="true"
              [haveImage]="false"
              [positionRelative]="true"
              [height50]="true"
              [isInFront]="true"
            >
            </app-custom-btn-ui>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-4">
        <div class="btns-home__btn-card red card">
          <div class="btns-home__btn w-100 p-2">
            <app-custom-btn-ui
              text="Vai alla lista regioni"
              [haveArrowIcon]="true"
              [haveImage]="false"
              [positionRelative]="true"
              [height50]="true"
              [isInFront]="true"
            >
            </app-custom-btn-ui>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
