<div class="flag row h-75 mx-4">
  <div class="flag__overlay">
  </div>
  <div class="flag__green col-lg-4 p-3">
    <img src="https://i.ibb.co/rp2xhwV/logo-whateat.png" alt="" class="w-75 flag__front p-2">
  </div>
  <div class="flag__white col-lg-4 text-center">
    <p class="flag__front text-dark fs-4 p-3">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   </div>
  <div class="flag__red col-lg-4 p-4" >
    <app-custom-btn-ui
      text="Vai alla lista regioni"
      [haveArrowIcon]="true"
      [haveImage]="false"
      [positionRelative]="true"
      [height50]="true"
      [isInFront]="true"
    >
    </app-custom-btn-ui>
    <app-custom-btn-ui
      class="mt-2"
      text="Vai alla lista regioni"
      [haveArrowIcon]="true"
      [haveImage]="false"
      [positionRelative]="true"
      [height50]="true"
      [isInFront]="true"
    >
    </app-custom-btn-ui>
  </div>
</div>
